<section class="content-header">
 <h1>Contribuyentes</h1>
</section>

<section class="content">
 <div class="row">
  <div class="col-xs-12">
   <div class="box">
    <div class="box-header">
     <h3>Listado de Contribuyentes</h3>
     <div class="btn-group pull-right">
       <button type="button" ng-click='openModalContribuyente();' class="btn btn-primary">Agregar</button>
     </div>
    </div>
    <div class="box-body">
     <table datatable dt-options="dtOptions" dt-columns="dtColumns"
        id="example1" class="table table-bordered table-striped dataTable">
    </table>
    </div>
   </div>
  </div>
 </div>
</section>