<section class="content-header">
  <h1>Contribuyente</h1>
  <ol class="breadcrumb">
    <li><a ui-sref="app.contribuyente" ><i class="fa fa-dashboard"></i> Contribuyentes</a></li>
    <li class="active">Contribuyente</li>
  </ol>
</section>

<section class="invoice">
  <div class="row">
    <div class="col-xs-12">
      <div class="page-header" style="overflow: hidden;">
        <div class="pull-left">
          <i class="fa fa-globe"></i> (( people.nombre ))<br />
          <small style="margin-top: 0px; margin-left: 28px">DUI: (( people.dui ))</small>
        </div>
        <div class="btn-group pull-right">
          
          <button class="btn btn-danger" ng-click="onModalBajaContribuyente(people);" tooltip-placement='bottom' uib-tooltip='Dar de baja al contribuyente'>
            <i class="fa" ng-class="( people.estado ? 'fa-thumbs-o-up' : 'fa-thumbs-o-down' )"></i>
          </button>
          <button class="btn btn-primary" ng-click="onViewCreateEditInmueble(false, people);" tooltip-placement='bottom' uib-tooltip='Editar contribuyente'>
            <i class="fa fa-pencil"></i>
          </button>
          <button class="btn btn-primary" tooltip-placement='left' uib-tooltip='Agregar inmueble'>
            <i class="fa fa-plus-circle"></i>
          </button>
        </div>
      </div>
    </div>
    <!-- /.col -->
  </div>
  <!-- info row -->
  <div class="row invoice-info" style="padding-bottom: 20px">   
    <!-- /.col -->
    <div class="col-sm-4 invoice-col">
      <b>NIT:</b> (( people.nit ))<br>
      <b>Telefono:</b> (( people.telefono ))<br>
      <b>Genero:</b> (( people.sexo ))<br>
      <b>Nacimiento:</b> (( people.nacimiento ))<br>
     </div>
    <!-- /.col -->
    <div class="col-sm-4 invoice-col">
     <b>Direccion: </b>      
      <address>
        (( people.direccion ))
      </address>
    </div>
  </div>
  <!-- /.row -->

  <!-- Table row -->
  <div class="row">
    <div class="col-xs-12 table-responsive">
      <table class="table no-margin">
        <thead>
          <tr>
            <th class="text-center"># Catastral</th>
            <th class="text-center"># Escritura</th>
            <th class="text-left">Medida</th>
            <th class="text-left">Metro Acera</th>
            <th class="text-center">Ubicacion</th>
            <th class="text-center">Estado</th>
            <th class="text-center"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in people.inmuebles">
            <td class="text-center">(( item.numero_catastral ))</td>
            <td class="text-center"><span class="label label-success">(( item.numero_escritura ))</span></td>
            <td class="text-left">(( item.medida_inmueble ))</td>
            <td class="text-left">(( item.metros_acera ))</td>
            <td class="text-center">
              <button ng-click='onViewMap(item, $index)' class="btn btn-primary">Ver Ubicacion</button>
            </td>
            <td class="text-center">
              <span class="label" ng-class="{ 'label-success' : item.estado == 1 ,  'label-danger' : item.estado == 0 }">
                (( item.estado == 1 ? 'Activo' : 'Inactivo' ))
              </span>
            </td>
            <td class="text-center">
              <div class="btn-group text-align">
                <button class="btn btn-warning">
                  <i class="fa fa-edit"></i>
                </button>
                <button class="btn btn-success" ng-click="onViewTipoServicio(item.id);">
                  <i class="fa fa-fw fa-dollar"></i>
                </button>
                <button ng-click='onDeleteBaja(item);' class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- /.col -->
  </div>
</section>