.btn-mio { 
  color: #ffffff; 
  background-color: #0C9691; 
  border-color: #14BAE3; 
} 
 
.btn-mio:hover, 
.btn-mio:focus, 
.btn-mio:active, 
.btn-mio.active, 
.open .dropdown-toggle.btn-mio { 
  color: #ffffff; 
  background-color: #12A8A8; 
  border-color: #14BAE3; 
} 
 
.btn-mio:active, 
.btn-mio.active, 
.open .dropdown-toggle.btn-mio { 
  background-image: none; 
} 
 
.btn-mio.disabled, 
.btn-mio[disabled], 
fieldset[disabled] .btn-mio, 
.btn-mio.disabled:hover, 
.btn-mio[disabled]:hover, 
fieldset[disabled] .btn-mio:hover, 
.btn-mio.disabled:focus, 
.btn-mio[disabled]:focus, 
fieldset[disabled] .btn-mio:focus, 
.btn-mio.disabled:active, 
.btn-mio[disabled]:active, 
fieldset[disabled] .btn-mio:active, 
.btn-mio.disabled.active, 
.btn-mio[disabled].active, 
fieldset[disabled] .btn-mio.active { 
  background-color: #0C9691; 
  border-color: #14BAE3; 
} 
 
.btn-mio .badge { 
  color: #0C9691; 
  background-color: #ffffff; 
}